docs/*
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
.env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# macOS files
.DS_Store

# Logs
*.log

# Test and coverage
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
.pytest_cache/
nosetests.xml
test-results/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# PyInstaller
dist/
build/
*.spec

# Environment variables
.env
.env.*

# PEP 582; used by some Python environments
__pypackages__/
